<style>

    .menu-bowl-sec {
        margin-top: 26px;
        padding-bottom: 25px;
        border-bottom: 1px solid #f1f1f1;
    }

    .menu-page {
        background: #0d646c;
    }

    .menu-white-bg {
        background: #fff !important;
        padding: 20px 30px;
    }

    .content-breadcrumb {
        background: #f1f1f1;
    }

    .contact-page-r {
        padding: 20px;
        background: #f1f1f1;
    }

    .menu-page h1 {
        font-size: 35px;
    }

    .menu-page h2 {
        margin: 0;
        font-size: 28px;
        border-top: 1px solid #0d646c;
        border-bottom: 1px solid #0d646c;
        padding-top: 15px;
        padding-bottom: 15px;
    }
</style>




<div class="contact-banner">
    <img src="../../../HTMLs/../../../assets/images/mycart.png" style="width:100%;">
</div>
<!-------------banner image end----------->

<div class="breadcrumbs content-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
            <li class="breadcrumb-item active">Terms and Conditions</li>
        </ol>
    </div>
</div>



<!----------------breadcrumbs end------------------------>



<div class="inner_page menu-page menu-white-bg ">
    <div class="container pt-30">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-12 menu-page-r">

                <div class="row">
                    <div class="col-md-12">
                        <h6 class=""> Introduction </h6>
                        <p class="pt-3" style="text-align:justify;">
                            Hello and welcome to KIPOS Terms and Conditions (“Terms”). This information is important and can affect your legal rights, so please read the Terms carefully. This website (the “Site”) with the URL address (https://www.kiposcollective.com) and the KIPOS mobile application (the “App”) is owned and operated by KIPOS  
                        </p>

                        <p>
                            The term “KIPOS Pty Ltd” (“Sprout”, “KIPOS”, “Store”, “we”, “us”, “our”) refers to KIPOS Pty Ltd, the owner and operator of the Service, whose registered office 7 Wallich Street,Unit B2-19,Singapore 07778.
                            The term “you” (“your”, “member”, “members”) refers to the Service user. These Terms apply to all users of the Service, including but not limited to users who are browsers, vendors, customers, merchants, and/or contributors of content.
                        </p>

                        <p>
                            These Terms govern your use of the Service and includes any information, text, graphics, photographs or other content uploaded, downloaded or appearing on the Service (collectively referred to as the “Material”).
                        </p>
                        <p>
                            Signing up or otherwise accessing or using our website and mobile application (together, the “KIPOS Service” or “Service”) or acquiring any products made available by KIPOS hereby constitutes acceptance to comply with and be bound by the Terms, which along with our Privacy Policy governs KIPOS’s relationship with you.
                        </p>

                        <p>
                            By accessing or using the Service, you acknowledge that you have read and understood the Terms and accept and agree to be bound by the Terms.
                        </p>

                        <p>
                            Your access to and use of the Service are conditioned upon your acceptance of and compliance with these Terms. If you do not agree (or cannot comply) with any of these Terms, then please do not access or use our Service.

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--menu-bowl-sec-->




    </div>
</div>


<div class="clear"> </div>





