<ngx-spinner
 bdColor="rgba(227,227,227,0.8)"
 size="medium"
 color="#ffb4b4"
 opacity="0.5"
 loadingText="Loading..."
 type="ball-scale-multiple">
 </ngx-spinner>
<div class="hero-slider">
    <img src="assets/images/slider-2.jpg" title="Kipose Admin System">
	</div>
	<div class="complaint-status top-status"> 
    <div class="bottom-border"></div>
		<div class="clear"></div>
	</div>
	<div class="title-section">
		<div class="container">
			<h3>Please Read Instructions Carefully </h3>
		</div>
		<div class="clear"></div>
		<div class="boxes-section">
			<div class="clear"></div>
	</div>
	<div class="clear"></div>
	</div>
	