<style>
    .get-member-details table {
    width: 100%;
    border-collapse: collapse;
    margin-block-end: 20px;
}
.get-member-details td {
    border: 1px solid #ccc;
    padding: 9px 10px;
}
.get-member-details {
    padding-top: 20px;
}
tr:nth-child(even) {background: #f1f1f1}
</style>


<ngx-spinner
 bdColor="rgba(227,227,227,0.8)"
 size="medium"
 color="#ffb4b4"
 opacity="0.5"
 loadingText="Loading..."
 type="ball-scale-multiple">
 </ngx-spinner>
<div class="container">
    <div class="page_content">
    <h3>All Customers</h3>




  <form  [formGroup]="resetpasswordForm" (ngSubmit)="getDetails()">
<mat-card>
  <mat-card-content>
                  <mat-form-field class="input-flex-33">
                          <input matInput 
                          type="text" 
                          style="text-transform: lowercase"
                          [formControl]="resetpasswordForm.controls['EmailId']"
                          placeholder="Email Id" required/>
                          <mat-error *ngIf="resetpasswordForm.controls['EmailId'].hasError('required') && resetpasswordForm.controls['EmailId'].touched">
                            Email Id is required
                        </mat-error>
                        <mat-error *ngIf="resetpasswordForm.controls['EmailId'].hasError('pattern') && resetpasswordForm.controls['EmailId'].touched">
                            Enter valid Email Id
                        </mat-error>
                </mat-form-field>   
  </mat-card-content>
  <mat-card-footer>
      <mat-dialog-actions>
          <button  type="submit" mat-button class="mat-button green"  [disabled]="resetpasswordForm.invalid">Get Details</button>
          <button type="button" class="mat-button cyan"  mat-button (click)="onCancel()">Clear</button>
      </mat-dialog-actions>
</mat-card-footer>
</mat-card>

</form>
<div class="col-lg-12 col-md-12 col-sm-12 col-12 get-member-details">
    <div *ngIf="!!datalode">
        <table width="100%" >
            <tr>
                <td><b>MemberId</b></td>
                <td>{{MemberId}}</td>

            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>{{Email}}</td>

            </tr>
            <tr>
                <td><b>Full Name</b></td>
                <td>{{FullName}}</td>

            </tr>
            <tr>
                <td><b>Mobile Number</b></td>
                <td>{{MobileNumber}}</td>
            </tr>
        </table>
        <button type="submit" class="mat-button green pull-right"  mat-button (click)="resetpassword()">Reset Password</button>  
    </div>
    <div *ngIf="!!datanotfound && !datalode">
      <h1>Requested User Not Registered</h1>
    </div>  
    
</div>



   