<!-- Desktop View -->
<div>
  <mat-sidenav-container class="app-side-nav-container">
    <topbar [sidenav]="sidenav" [notificPanel]="notificationPanel" [isFromConsumer]="false" (onLangChange)="translate.use($event)"></topbar>

    <!--Main Navigation -->
    <div  class="desktop-nav">
    <navigation *ngIf="isMenuNeeded">
    </navigation>
  </div>

    <!-- App content -->
    <div class="rightside-content-hold">
      <mat-drawer-container class="example-container">
        <mat-drawer id="sample" #drawer [mode]="mode.value" >
            <div  class="mobile-nav">
          <navigation *ngIf="isMenuNeeded" (outputDrawerToggle)="clk_DrawerToggle()"></navigation>
            </div>
        </mat-drawer>
        <mat-drawer-content #mode>
          <div class="mobile-nav">
            <button mat-raised-button  (click)="clk_DrawerToggle()"><i class="fa fa-bars"></i></button>
          </div>
          <router-outlet>
          </router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>



    </div>
    <!-- Notificaation bar -->
    <mat-sidenav #notificationPanel mode="over" align="end">
      <div class="navigation-hold" fxLayout="column">
        <app-notifications [notificPanel]="notificationPanel"></app-notifications>
      </div>
    </mat-sidenav>

    <footer></footer>
  </mat-sidenav-container>
</div>
<!-- Desktop View End -->

