<ngx-spinner bdColor="rgba(227,227,227,0.8)" size="medium" color="#ffb4b4" opacity="0.5" loadingText="Loading..."
  type="ball-scale-multiple">
</ngx-spinner>
<div class="container">
  <div class="page_content">
<div>
  <mat-card>
    <form >
      <mat-card-title>
       Landing Page
      </mat-card-title>
      <mat-card-content>
     <div class="input-flex-100" style="margin-bottom: 25px;">
            <div class="input-flex-25" >
              <div class="dashboard">
                  <div class="dashboard-bottom" routerLink="aboutUs">
                    <h6><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;&nbsp;About Us
                    </h6>
                  </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="input-flex-25">
              <div class="dashboard orange-db">
                <div class="dashboard-bottom" routerLink="ourBrands">
                  <h6 style="background: #f957ab;"><img src="../../../assets/images/Base.png">&nbsp;&nbsp;Sponsors</h6>
                </div>
<div class="clearfix"></div>
              </div>
            </div>
            <div class="input-flex-25" >
              <div class="dashboard">
                <div class="dashboard-bottom" routerLink="bannerImages">
                  <h6><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;&nbsp;Banner Images</h6>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="input-flex-25">
                <div class="dashboard orange-db">
                  <div class="dashboard-bottom" routerLink="trendingBowls">
                    <h6 style="background: #f957ab;"><img src="../../../assets/images/Base.png">&nbsp;&nbsp;Trending Bowls</h6>
                  </div>
  <div class="clearfix"></div>
                </div>
              </div>
          </div>
</mat-card-content>
    </form>
  </mat-card>
</div>
</div>
</div>