.view-cart {
    padding: 0px;
}

    .view-cart table tr td {
        padding: 3px 7px;
        vertical-align: middle;
    }

    .view-cart table td {
        background: #fff;
    }

    .view-cart table tr td:first-child {
        text-align: center;
        width: 50px;
    }


    .get-member-details table {
    width: 100%;
    border-collapse: collapse;
    margin-block-end: 20px;
}
.get-member-details td {
    border: 1px solid #ccc;
    padding: 9px 10px;
}
.get-member-details {
    padding-top: 20px;
}
tr:nth-child(even) {background: #f1f1f1}
.f-left {
    float: left !important;
    padding-bottom: 15px;
    margin-top: 5px;
}

.pl-20{ padding-left: 20px;} 
tr.mat-header-row {
    min-height: 40px;
    height: auto;
}

.mat-datagrid td.mat-cell {
    padding: 10px 10px !important;
}



