
.mat-box-shadow {
    margin: 0 auto !important;
    margin-top: 100px !important;
    text-align: center !important;
    width: 40% !important;
    padding: 10px;
}


.cng-pws {margin-bottom: 13% !important;}

@media (max-width:460px){
    
    .cng-pws {width: 100% !important;}
}



