<style>

    .menu-bowl-sec {
        margin-top: 26px;
        padding-bottom: 25px;
        border-bottom: 1px solid #f1f1f1;
    }

    .menu-page {
        background: #0d646c;
    }

    .menu-white-bg {
        background: #fff !important;
        padding: 20px 30px;
    }

    .content-breadcrumb {
        background: #f1f1f1;
    }

    .contact-page-r {
        padding: 20px;
        background: #f1f1f1;
    }

    .menu-page h1 {
        font-size: 35px;
    }

    .menu-page h2 {
        margin: 0;
        font-size: 28px;
        border-top: 1px solid #0d646c;
        border-bottom: 1px solid #0d646c;
        padding-top: 15px;
        padding-bottom: 15px;
    }
</style>




<div class="contact-banner">
    <img src="../../../HTMLs/../../../assets/images/mycart.png" style="width:100%;">
</div>
<!-------------banner image end----------->

<div class="breadcrumbs content-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
            <li class="breadcrumb-item active">Disclaimer</li>
        </ol>
    </div>
</div>



<!----------------breadcrumbs end------------------------>



<div class="inner_page menu-page menu-white-bg ">
    <div class="container pt-30">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-12 menu-page-r">

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center"> BLOG DISCLAIMER </h3>
                        <p class="pt-3" style="text-align:justify;"> All contents of the Kipos blog are thoughts and opinions of the author only and is not representative of any medical or health advice. Any information used from this blog should not be practiced without proper consultation or endorsement with a health or medical professional.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--menu-bowl-sec-->




    </div>
</div>

<div class="clear"> </div>





