<ngx-spinner
 bdColor="rgba(227,227,227,0.8)"
 size="medium"
 color="#ffb4b4"
 opacity="0.5"
 loadingText="Loading..."
 type="ball-scale-multiple">
 </ngx-spinner>
<div class="container">
<div class="page_content">
                <h3>All Stores </h3>
                <div style="float: right;">
                  <button  mat-button class="mat-button green"  (click)="exportToExcel()">Export to Excel</button>
              </div> 
                <br>
            
<div class="clear-both"></div>
<div class="mat-elevation-z8">   
        <div class="mat-datagrid">
        <table mat-table [dataSource]="this.filterData.dataSource" matSort>
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>
              <label mat-sort-header>
                SNo  
              </label>
              <input type="text" [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData"/>
            </th>
            <td mat-cell *matCellDef="let row"> 
              {{row.sno}} 
            </td>
          </ng-container>
          <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>
                  <label mat-sort-header>
                     Name 
                  </label>
                  <input type="text" [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData"/>
                </th>
            <td mat-cell *matCellDef="let row"> {{row.Name | uppercase}} </td>
          </ng-container>
           <ng-container matColumnDef="Address">
              <th mat-header-cell *matHeaderCellDef>
                  <label mat-sort-header>
                    Address
                  </label>
                  <input type="text" [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData"/>
                </th>
            <td mat-cell *matCellDef="let row"> {{row.Address1}} </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef style="vertical-align:inherit !important">
                <label> Pick Up  <br> &nbsp; </label>
            </th>
            <td mat-cell *matCellDef="let row">
                    <span style="vertical-align: super">
                           <mat-slide-toggle
                       class="example-margin" *ngIf="!!row.IsActive"
                       [checked]="checked" (change)="activateRecord($event.checked,row.Id)"  >
                    
                   </mat-slide-toggle>
                   <mat-slide-toggle
                   class="example-margin" *ngIf="!row.IsActive"
                     (change)="activateRecord($event.checked,row.Id)"  >
                
               </mat-slide-toggle>
                           </span>
            </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <table *ngIf="!!this.filterData.dataSource">
          
          <tr *ngIf="this.filterData.dataSource.filteredData.length == 0"><td class="no-records">No Records Found</td></tr>
        </table>
      </div>
        <mat-paginator [pageSizeOptions]="[10,15,20,25,30,50,75,100]"></mat-paginator>
      </div>
    </div>
<div class="clear-both"></div>
</div>